@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Padauk&display=swap');

.postsdescriptionBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 30px;
    border: solid 3px #2B193D;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #c9d1d1;
}

.title {
    font-family: 'Padauk', sans-serif;
    font-size: 35px;
    margin-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
    color: #2C365E;
    
    
}

.descriptions {
    font-family: 'Padauk', sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 20px;
}

.bigBox {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    
    
}

#searchBox {
    align-self: center;
}

#addNewLink {
     color: #C5979D;
     font-size: 30px;
     font-family: 'Amatic SC', cursive;
     text-decoration: none;
     align-self: center;
}